
<form method="post" action="/admin/validation">

  <input type="hidden" value="<%= Phoenix.Controller.get_csrf_token() %>" name="_csrf_token"/>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="text" id="totp" name="totp" class="form-control" />
    <label class="form-label" for="password">Validation Code</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
</form>
